@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&display=swap');

:root {
  --soft-orange: hsl(35, 77%, 62%);
  --soft-red: hsl(5, 85%, 63%);
  --off-white: hsl(36, 100%, 99%);
  --grayish-blue: hsl(233, 8%, 79%);
  --dark-grayish-blue: hsl(236, 13%, 42%);
  --very-dark-blue: hsl(240, 100%, 5%);
}

/* Generic classes and selectors */

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.flex {
  display: flex;
}

.hidden {
  display: none;
}

/* Main styling */

body {
  box-sizing: content-box;
  flex-direction: column;
  max-width: 1080px;
  min-height: 100vh;
  margin: 0 auto;
  padding: 24px;
  background-color: var(--off-white);
  color: var(--very-dark-blue);
  font-family: Inter, sans-serif;
  font-size: 15px;
}

header {
  justify-content: space-between;
  margin: 60px 0;
  gap: 40px;
}

.logo {
  flex-shrink: 0;
}

.menu {
  display: none;
}

.nav-items {
  gap: 40px;
  align-items: center;
  list-style-type: none;
}

.nav-items a {
  color: var(--dark-grayish-blue);
}

.nav-items a:hover {
  color: var(--soft-red);
}

a, button {
  transition: 0.2s;
}

.content {
  flex-grow: auto;
  flex-direction: column;
  gap: 60px;
  align-items: center;
}

main {
  gap: 60px 30px;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

section.highlighted-article {
  flex-direction: column;
  flex-basis: calc(1020px * (2 / 3) + 30px);
}

.highlighted-image {
  min-width: 300px;
  min-height: 300px;
  background-image: url("../assets/images/image-web-3-desktop.jpg");
  background-size: cover;
}

.highlighted-content {
  margin-top: 30px;
  gap: 30px;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.highlighted-headline,
.highlighted-sub {
  flex-basis: calc(1020px * 1 / 3);
  min-width: 300px;
}

.highlighted-headline {
  color: var(--very-dark-blue);
  font-size: 50px;
  font-weight: 900;
}

h3 {
  font-size: 15px;
  font-weight: 400;
}

.read-more {
  margin-top: 30px;
  border: none;
  padding: 15px 30px;
  background-color: var(--soft-red);
  color: var(--off-white);
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  cursor: pointer;
}

.read-more:hover {
  background-color: var(--very-dark-blue);
}

section.new-articles {
  min-width: 300px;
  flex-basis: calc(1020px * 1 / 3);
  flex-direction: column;
  padding: 20px;
  background-color: var(--very-dark-blue);
  color: var(--grayish-blue);
}

.new-articles-title {
  margin: 10px 0 20px;
  color: var(--soft-orange);
  font-size: 40px;
  font-weight: 700;
}

.new-article {
  margin: 10px 0;
}

.new-article h2 {
  margin-bottom: 15px;
  font-size: 20px;
}

.new-article a {
  color: var(--off-white);
}

.new-article a:hover {
  color: var(--soft-orange);
}

.new-articles hr {
  height: 1px;
  background-color: var(--dark-grayish-blue);
  border-width: 0;
  margin: 20px 0;
}

section.suggested-articles {
  gap: 30px;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.suggested-article {
  flex-basis: calc(1020px * 1 / 3);
  min-width: 300px;
}

.suggested-article img {
  flex-basis: 30%;
  min-width: 0px;
}

.suggested-article-content {
  flex-basis: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 15px;
}

.suggested-article .order {
  color: var(--grayish-blue);
  font-size: 25px;
  font-weight: 700;
}

.suggested-article a {
  color: var(--very-dark-blue);
  font-size: 18px;
}

.suggested-article a:hover {
  color: var(--soft-red);
}

/* Media queries */

@media (max-width: 1150px) {
  body {
    max-width: calc(1020px * (2/3) + 30px);
  }

  section.new-articles {
    flex-grow: 1;
  }

  section.suggested-articles {
    justify-content: flex-start;
  }
}

@media (max-width: 774px) {
  .highlighted-content > * {
    flex-grow: 1;
  }

  .highlighted-image {
    background-image: url("../assets/images/image-web-3-mobile.jpg");
  }
}
