@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&display=swap');

:root {
  --soft-orange: hsl(35, 77%, 62%);
  --soft-red: hsl(5, 85%, 63%);
  --off-white: hsl(36, 100%, 99%);
  --grayish-blue: hsl(233, 8%, 79%);
  --dark-grayish-blue: hsl(236, 13%, 42%);
  --very-dark-blue: hsl(240, 100%, 5%);
}

/* Generic classes and selectors */

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.flex {
  display: flex;
}

.hidden {
  display: none;
}

/* Main styling */

body {
  flex-direction: column;
  max-width: 1080px;
  min-height: 100vh;
  margin: 0 auto;
  padding: 24px;
  background-color: var(--off-white);
  color: var(--very-dark-blue);
  font-family: Inter, sans-serif;
  font-size: 15px;
}

header {
  justify-content: space-between;
  margin: 56px 0;
  gap: 40px;
}

.logo {
  flex-shrink: 0;
}

.nav-items {
  gap: 32px;
  align-items: center;
  list-style-type: none;
}

.nav-items a {
  color: var(--dark-grayish-blue);
}

.nav-items a:hover {
  color: var(--soft-red);
}

.content {
  flex-grow: auto;
  flex-direction: column;
  gap: 56px;
}

main {
  gap: 24px;
}

section.highlighted-article {
  flex-direction: column;
  flex-basis: 68%;
}

.highlighted-image {
  min-width: 640px;
}

.highlighted-image img {
  width: 100%;
  height: auto;
}

.highlighted-content {
  margin-top: 32px;
  gap: 32px;
  justify-content: space-between;
}

.highlighted-headline,
.highlighted-sub {
  flex: 1;
}

.highlighted-headline {
  color: var(--very-dark-blue);
  font-size: 48px;
  font-weight: 900;
}

h3 {
  font-size: 15px;
  font-weight: 400;
}

.read-more {
  margin-top: 32px;
  border: none;
  padding: 16px 30px;
  background-color: var(--soft-red);
  color: var(--off-white);
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  transition: 0.2s;
  cursor: pointer;
}

.read-more:hover {
  background-color: var(--very-dark-blue);
}

section.new-articles {
  min-width: 240px;
  flex-basis: 32%;
  flex-direction: column;
  padding: 20px;
  background-color: var(--very-dark-blue);
  color: var(--grayish-blue);
}

.new-articles-title {
  margin: 5px 0 10px;
  color: var(--soft-orange);
  font-size: 40px;
  font-weight: 700;
}

.new-article {
  margin: 10px 0;
}

.new-articles h2 {
  margin-bottom: 15px;
  font-size: 18px;
}

.new-articles a {
  color: var(--off-white);
}

.new-article a:hover {
  color: var(--soft-orange);
}

.new-articles hr {
  height: 1px;
  background-color: var(--grayish-blue);
  border-width: 0;
  margin: 20px 0;
}
